#content-zone {
  position: relative;  
}

.button {
  background-color: #EE3C5D;
  color: #fff;
  border-radius: 55px;
  font-size: 0.65em;
  text-transform: uppercase;
  border: transparent;
  padding: 1.3em 2.1em;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    background-color:#e8304d;
  }
}

.header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 2em 5em;
  flex-wrap: nowrap;
  
  .logo {
    flex: 0 0 auto;
    width: 8.125em;
  }

  .nav {
    flex: 20;
    text-align: right;
    margin: 0 1em;
    min-width: 30em;
    z-index: 9999;
  }

  .btn {
    flex: 0 0 auto;
    width: 10.675em;
  }
}

.footer {
  text-align:center;
  margin-top: 3em;
  .content-wrapper {
    width: 150px;
    margin: auto;
    padding-top: 1.5em;
    border-top: solid 1px #eee;
  }

  .text {
    margin-top: 2em;
    padding-top: .5vw;
    color: #aaa;
    font-size: 0.7em;
  }
}

@media(max-width: 640px) {
  .header {
    padding: 2em;
    
    .logo {
      width: 12.75em;
    }
    .nav, .btn {
      display: none;
    }
  }
}
