* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
}

.button {
  background-color: #EE3C5D;
  color: #fff;
  border-radius: 55px;
  font-size: 0.65em;
  text-transform: uppercase;
  border: transparent;
  padding: 1.3em 2.1em;
  cursor: pointer;

  &:active, &:hover, &:focus {
    outline: none;
  }
}

.header {
  padding: 2.5em;
  text-align: justify;
  .part {
    display: inline-block;
    vertical-align: top;

    &.logo {
      width: 12.75em;
      img {
        max-width: 100%;
      }
    }

    &.nav {
      width: 60vw;
      text-align: right;
      margin-top: 1.3em;
    }

    &.btn {
      padding: .7em 0;
      width: 10.675em;
      text-align: right;
    }
  }
}

.footer {
  margin-top: 2vw;
  .content-wrapper {
    width: 150px;
    margin: auto;
    padding-top:1.5vw;
    text-align:center;
    border-top: solid 1px #eee;

    .text {
      padding-top: .5vw;
      color: #aaa;
      font-size: 0.6em;
    }
  }
}

@media(max-width: 320px) {
  .header {
    .part.nav, .part.btn {
      display: none;
    }
  }
}

@media(min-width: 768px) {
  .header {
    width: 700px;
    padding: 2.5em 0;
    margin: auto;

    .part.logo {
      width: 8.125em;
    }
  }
}

@media(min-width: 1024px) {
  .header {
    width: 960px;
    padding: 2.5em 0;
    margin: auto;

    .part.logo {
      width: 8.125em;
    }
  }
}

@media(min-width: 1280px) {
  .header {
    width: 1170px;
    padding: 2.5em 0;
    margin: auto;

    .part.logo {
      width: 8.125em;
    }
  }
}


