@mixin breakpoint($point) {
   @media (max-width: $point) { @content ; }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
}

html {
  height: 100%;
}

body, #root, .app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content, #root, .app {
  flex: 1;
  overflow-x: hidden;
}

.footer {
  padding: 3em 5em 2em;
  box-sizing: border-box;

  @include breakpoint(376px) {
    padding: 0;
  }
}

.footer .links {
  margin: auto;
  max-width: 75em;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include breakpoint(769px) {
    font-size: .7em;
    padding: 2em;
  }

  @include breakpoint(376px) {
    display: block;
    font-size: .5em;
    max-width: none;
  }
}
  
.footer .links a {
  display: block;
  flex: 0 0 auto;
  text-decoration: none;
  font-size: .65em;
  color: #36516e;
  line-height: 1.5em;
}

.footer .links a:active, .links a:focus {
  outline: none;
}

.footer .links a * {
  vertical-align: middle;
}

.footer {
  .links {
    list-style: none;
    a {
      .icon {
        width: 26px;
        height: 26px;
        margin-right: .4em;
        fill: #B1AFB0;
        transition: all 200ms ease-in-out;
      }

      span {
        color: #B1AFB0;
        transition: all 200ms ease-in-out;
      }

      &:hover {
        span {
          color: #36516e;
        }

        .icon {
          fill: #EF4964;
        }
      }
    }
  }
}

#content-zone {
  position: relative;  
}

.button {
  background-color: #EE3C5D;
  color: #fff;
  border-radius: 55px;
  font-size: .7em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border: transparent;
  padding: 1.3em 2.1em;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    background-color:#e8304d;
  }
}

.header {
  max-width: 75em;
  margin: auto;
  display: flex;
  padding: 2.9em 5em 5.3em 5em;
  flex-wrap: nowrap;
  
  @include breakpoint(769px) {
    font-size: .7em;
    padding: 2em;
  }

  @include breakpoint(376px) {
    display: block;
    font-size: .5em;
    max-width: none;
  }

  .logo {
    flex: 0 0 auto;
    width: 8.125em;
  }

  .nav {
    flex: 20;
    text-align: right;
    margin: 0 1em;
    min-width: 30em;
    z-index: 9999;

    @include breakpoint(769px) {
      min-width: 25em;
    }

    @include breakpoint(376px) {
      min-width: auto;
    }
  }

  .btn {
    flex: 0 0 auto;
    margin-top: -.6em;
  }
}

.buy-button {
  text-align:center;
  margin-top: 2.1875em;

  .content-wrapper {
    width: 150px;
    margin: auto;
    padding-top: 1.5625em;
    border-top: solid 1px #eee;

    .button {
      display: inline-block;
    }
  }

  .text {
    margin-top: 2em;
    padding-top: .5vw;
    color: #aaa;
    font-size: 0.7em;
  }
}
