$characterWidth: 360px;
$characterHeight: $characterWidth * 1.25;
$arrow-width: 180px;
$arrow-image-width: 32px;
$sliderWidth: 7 * $characterWidth + 2 * $arrow-width;

.character-slider {
  display: flex;
  width: $sliderWidth;
  justify-content: center;
  margin-left: calc((100vw - #{$sliderWidth}) / 2); 
  
  .arrow {
    width: $arrow-width;
    line-height: $characterHeight;
    text-align: center;

    .character-wrapper {
      width: 100%;

      .character {
        width: 100%;
        text-align: center;

        a {
          display: inline-block;
        }
      }
    }
  
    img {
      transition: top 300ms ease-in-out;
      vertical-align: middle;
      display: inline-block;
      width: $arrow-image-width;
      height: $arrow-image-width;
      margin: auto;
    }
  }
  
  .character-wrapper {

    .character {
      position: relative;
      width: $characterWidth;
      min-height: $characterHeight;

      img {
        position: absolute;
      }

      .slide-left {
        img {
          transition: all 150ms ease-in-out;
          transform: translate($characterWidth, 0);
        }
      }

      .slide-right {
        img {
          transition: all 150ms ease-in-out;
          transform: translate(-$characterWidth, 0);
        }
      }
    }
  }

  .wheel {
    display: flex;
  }

  .arrow {
    img {
      width: 1.13em;
    }
  }
}

.colorPickerContainer {
  min-height: 1.7em;
  position:relative;
  z-index: 10;
  text-align: center;
  .colorPicker, .visibilityButton {
    display: inline-block;
  }

  .colorPicker {
    text-align: center;
    background-color: rgba(255,255,255,0.8);

    .color {
      width: 1.63em;
      height: 1.63em;
      display: inline-block;
      border-radius: 1em;
      vertical-align: middle;
      
      margin: 0 .4em;
      cursor: pointer;

      &.active {
        width: 1.37em;
        height: 1.37em;
        border: solid 0.13em #472719;
      }
    }
  }

  .visibilityButton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    margin: 0 .25vw;
    border: solid 0px #fff;
    cursor: pointer;
    vertical-align: middle;
  }
}

.conflict-message {
  text-align: center;
  background: blue;
  width: 15vw;
  margin: auto;
  padding: 1em;
  color: #fff;
  border-radius: .5em;
  font-size: 0.8em;
}
