$characterWidth: 320px;
$characterHeight: 400px;
$arrow-width: 180px;
$arrow-image-width: 32px;
$sliderWidth: 7 * $characterWidth + 2 * $arrow-width;

.character-slider {
  display: flex;
  width: $sliderWidth;
  justify-content: center;
  margin-left: calc((100vw - #{$sliderWidth}) / 2); 
  
  .arrow {
    width: $arrow-width;
    line-height: $characterHeight;
    text-align: center;
  
    img {
      vertical-align: middle;
      display: inline-block;
      width: $arrow-image-width;
      height: $arrow-image-width;
      margin: auto;
    }
  }
  
  .character-wrapper {
    width: $characterWidth;
    min-height: $characterHeight;

    .character {
      position: relative;
      width: $characterWidth;
      min-height: $characterHeight;

      img {
        position: absolute;
        display: block; // required for transition
      }

      .slide-left {
        img {
          transition: all 150ms ease-in-out;
          transform: translate($characterWidth, 0);
        }
      }

      .slide-right {
        img {
          transition: all 150ms ease-in-out;
          transform: translate(-$characterWidth, 0);
        }
      }
    }
  }

  .wheel {
    display: flex;
  }

  .arrow {
    img {
      width: 1.13em;
    }
  }
}

.colorPickerContainer {
  min-height: 1.7em;
  position:relative;
  z-index: 10;
  text-align: center;
  .colorPicker, .visibilityButton {
    display: inline-block;
  }

  .colorPicker {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    .color {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      border-radius: 1em;
      vertical-align: middle;
      
      margin: 0 .4em;
      border: solid 0.13em transparent;
      cursor: pointer;

      &.active {
        border: solid 0.13em #472719;
      }

      &.brown {
        background-color: #BB755A;
      }

      &.blond {
        background-color: #E5BB6D;
      }

      &.brunet {
        background-color: #383C45;
      }

      &.white {
        background-color: #DDDDDD;
      }

      &.green {
        background-color: #85AA5E;
      }

      &.blue {
        background-color: #509CC7;
      },

      &.black {
        background-color: #000;
      }
    }
  }

  .visibilityButton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    margin: 0 .25vw;
    border: solid 0px #fff;
    cursor: pointer;
    vertical-align: middle;
  }
}

.conflict-message {
  text-align: center;
  background: blue;
  width: 15vw;
  margin: auto;
  padding: 1em;
  color: #fff;
  border-radius: .5em;
  font-size: 0.8em;
}
