.character-slider {
  padding: 0;

  .wheel, .character, .arrow, .profile {
    display: inline-block;
    vertical-align: top;
  }

  .arrow {
    padding: 4vw 0;
    cursor: pointer;
    width: 4.9vw;
    text-align: center;
  }

  .colorPicker {
    text-align: center;
    .color {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      border-radius: 1em;
      
      margin: 0 .25vw;
      border: solid 1px #fff;
      cursor: pointer;

      &.active {
        border: solid 1px #472719;
      }

      &.brown {
        background-color: #BB755A;
      }

      &.blond {
        background-color: #E5BB6D;
      }

      &.brunet {
        background-color: #383C45;
      }

      &.white {
        background-color: #DDDDDD;
      }

      &.green {
        background-color: #85AA5E;
      }

      &.blue {
        background-color: #509CC7;
      },

      &.black {
        background-color: #000;
      }
    }
  }

  .colorPickerContainer {
    margin-top: 1.2vw;
    text-align: center;
    .colorPicker, .visibilityButton {
      display: inline-block;
    }

    .visibilityButton {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      margin: 0 .25vw;
      border: solid 1px #fff;
      cursor: pointer;
    }

  }
}

.character {
  display: inline-block;
  position: relative;
  width: 17.9vw;
  min-height: 23vw;

  img {
    position: absolute;
  }
}
