.character-slider {
  padding: 0;
  margin-top: 4em;

  .wheel, .character, .arrow, .profile {
    display: inline-block;
    vertical-align: top;
  }

  .arrow {
    padding: 4vw 1vw;
    cursor: pointer;
    width: 3vw;
    text-align: center;
  }

  .colorPicker {
    text-align: center;
    margin-top: 1.2vw;
    .color {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      border-radius: 1em;
      
      margin: 0 .25vw;
      border: solid 1px #fff;
      cursor: pointer;

      &.active {
        border: solid 1px #472719;
      }

      &.brown {
        background-color: #BB755A;
      }

      &.blond {
        background-color: #E5BB6D;
      }

      &.brunet {
        background-color: #383C45;
      }

      &.white {
        background-color: #DDDDDD;
      }

      &.green {
        background-color: #85AA5E;
      }

      &.blue {
        background-color: #509CC7;
      },

      &.black {
        background-color: #000;
      }
    }
  }

  .colorPickerContainer {
    margin-top: 1.2vw;
    text-align: center;
    .colorPicker, .visibilityButton {
      display: inline-block;
    }

    .visibilityButton {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      margin: 0 .25vw;
      border: solid 0px #fff;
      cursor: pointer;
    }
  }

  .conflict-message {
    text-align: center;
    background: blue;
    width: 15vw;
    margin: auto;
    padding: 1em;
    color: #fff;
    border-radius: .5em;
    font-size: 0.8em;
  }
}



.character {
  display: inline-block;
  position: relative;
  width: 17.9vw;
  min-height: 23vw;

  img {
    position: absolute;
  }
}

@media(max-width: 1024px) {
  .character {
    width: 30vw;
    min-height: 40vw;
  }

  .wheel.left .character:first-child {
    display: none;
  }

  .wheel.right .character:last-child {
    display: none;
  }
}

@media(max-width: 640px) {
  .character {
    width: 90vw;
    min-height: 110vw;
  }

  .wheel.left {
    display: none;
  }

  .wheel.right {
    display: none;
  }
}
