@mixin breakpoint($point) {
   @media (max-width: $point) { @content ; }
}

.header-nav {
  list-style: none;
  .item {
    display: inline-block;

    @include breakpoint(376px) {
      display: block;
    }

    a {
      color: #36516e;
      padding: 0 0 1em 0;
      margin: 0 1.35em;
      cursor: pointer;
      border-bottom: solid 1px transparent;
      font-size: .7em;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: red;
      }

      &.active {
        color: red;
        border-bottom-color: #36516e;
      }
    }

    &.clothes {
      .submenu {
        margin-left: -1.4em;
      }
    }

    &.accessories {
      .submenu {
        margin-left: 0.65em;
      }
    }

    .submenu {
      list-style: none;
      background-color: #38506C;
      padding: .7em .3em 1em .3em;
      margin-top: 0.6em;
      text-align: left;
      border-radius: 5px;
      box-shadow: 0 0 0 rgba(9,26,45,1.95), 0 0 20px rgba(9,26,45,0.1) inset;
      position: absolute;
      height: auto;

      &:after {
        box-shadow: rgba(27, 26, 39, 1) 0px 2px 96px;
        z-index: -1;
        left: 25%;
        bottom: 0px;
        width: 50%;
        height: 40%;
        border-radius: 50%;
        position: absolute;
        content: "";
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 40%;
        top: -14px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #38506C transparent;
        border-width: 8px;
      }
      
      .subitem {
        padding: .3em 0;
      }

      .subitem a {
        padding: 0 0 .6em 0;
        color: #95AFCB;

        &:hover, &.active {
          color: #fff;
        }
      }
    }
  }
}
