.header-nav {
  text-align: center;
  margin: 2em auto; 
  li {
      display: inline-block;
      vertical-align: top;
      padding: .4em;
      margin: 0 2em;
      cursor: pointer;
      border-bottom: solid 1px transparent;

      &:hover {
        border-bottom-color: #000;
      }

      &.active {
        color: red;
      }
  }
}