.header-nav {
  list-style: none;
  text-align: right;
  vertical-align: middle;
  .item {
    display: inline-block;
    vertical-align: top;
    a {
      color: #36516e;
      padding: .4em 0 1em .4em;
      margin: 0 .5em;
      cursor: pointer;
      border-bottom: solid 1px transparent;
      font-size: .65em;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: red;
      }

      &.active {
        color: red;
        border-bottom-color: #36516e;
      }
    }

    .submenu {

      list-style: none;
      background-color: #38506C;
      padding: .5em .5em;
      /*z-index: 9999;*/
      margin-top: 1.2em;
      text-align: left;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
      position: absolute;

      &:after {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 16px;
        z-index: -1;
        left: 10%;
        bottom: 0px;
        width: 80%;
        height: 40%;
        border-radius: 50%;
        position: absolute;
        content: "";
      }

      &:before {
          content: '';
          display: block;
          position: absolute;
          left: 40%;
          top: -20px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent transparent #38506C transparent;
          border-width: 10px;
      }
      
      .subitem a {
        padding: .8em .5em;
        color: #95AFCB;
        
        &:hover {
          color: #fff;
        }

        &.active {
          border-bottom: none;
        }
      }
    }
  }
}

